{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="jumbotron">
  <img  src="https://profiles.bugcrowdusercontent.com/avatars/8d676070e523c0f9ecae3801b26f88e3/___img_src_x_onerror_alert_document.domain__.jpg" alt="error">
</div>

{# <h1>Error 404</h1> #}



{% endblock %}



