{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br>
<h1  class=" text-white bg-warning " style="max-width: 20rem;"> The articles</h1>
<div class="example-wrapper">

        <div>
                <h2>How Innovative Ideas  !</h2>
                <p>In 2010, Thomas Thwaites decided he wanted to build a toaster from scratch. He walked into a shop, 
                purchased the cheapest toaster he could find, and promptly went home and broke it down piece by piece.    
                 Thwaites had assumed the toaster would be a relatively simple machine...
                 </p>
              <a href="{{path ('blog_show', {id:1}) }}">show more..</a>
        </div>
        <div>
                <h2>What is Creativity?</h2>



                <p>The creative process is the act of making new connections between old ideas or recognizing relationships between concepts.    
                 Creative thinking is not about generating something new from a blank slate, but rather about taking what is already present 
                 and combining those bits and pieces in a way that has not been done previously...
                </p>
               
                <a href="{{path ('blog_show', {id:2}) }}">show more..</a>
        </div>
        <div>
                <h2>How Experts Figure What to Focus On..</h2>

                 <p>Peak performance experts say things like, You should focus. You need to eliminate the distractions. Commit to one thing and become 
                 great at that thing.This is good advice. The more I study successful people from all walks of life\u2014artists, athletes, entrepreneurs, 
                 scientists\u2014the more I believe focus is a core factor of success...
                 </p>
                   <a href="{{path ('blog_show', {id:3}) }}">show more..</a>

        </div>
  {# <div>
                <h2>What I Do When I Feel Like Giving Up ?</h2>
                  <p> Consider every thought you have as a suggestion, not an order. Right now, my mind is suggesting that I feel tired. It is suggesting that
                I give up. It is suggesting that I take an easier path.  If I pause for a moment, however, I can discover new suggestions. My mind is also suggesting
                that I will feel very good about accomplishing this work once it is done. It is suggesting that I will respect the identity I am building when I stick 
                to the schedule. It is suggesting that I have the ability to finish this task, even when I don't feel like. Remember, none of these suggestions are orders. 
                They are merely options. I have the power to choose which option I follow.  </p>
                <a href="{{path ('blog_show')}}">show more..</a>
 #}
</div>
{% endblock %}
