{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br>
<h1>Symfony 4.4</h1>
<h1>Leçon 4.4 : Services</h1>

<div class="jumbotron">
  <img  src="https://th.bing.com/th/id/R.74135c4976edaed2f39b4ae0f67860a6?rik=bNUpVcCw34qhUA&pid=ImgRaw&r=0" alt="W3Schools.com">
</div>
<p>OBJECTIF :</p>
<ul>

<li>Découverte des Services Symfony</li>

</ul>

{% endblock %}